extends layout

block content
  .row.bottom-space
    .small-12.columns
      #title
        h2= title
  .row.bottom-space
    #tabs.small-9.columns
      a(href='#status', data-target='status').label.tab #{__("Status")}
  .row
    #windows.small-9.columns
      #status.window
    .small-3.columns
      #users.window.hide
  .row
    .small-9.columns
      #message
        input(id='message-text', type='text', placeholder='#{__("Enter message")}')

  #login.reveal-modal.medium(data-reveal)
    h3 #{__("Connect to %s", title)}
    p.lead #{__("Please enter your information below")}
    form
      input(id='nickname', type='text', placeholder='#{__("Nickname")}')
      label(for='authenticate')
        input(id='authenticate', type='checkbox')
        span.custom.checkbox  #{__("Authenticate to services")}
      fieldset#services.hide
        legend #{__("Enter your credentials")}
        input(type='text', placeholder='#{__("Username")}')
        input(type='password', placeholder='#{__("Password")}')
        input(type='text', placeholder='#irclife', id='channel', value="#{joinchannel}")
      button#connect(type='submit').button #{__("Connect")}
    a.close-reveal-modal &#215;

  #window-template.hide
    div(id='{{target}}').window.hide

  #message-template.hide
    pre.message
      | &lt;{{nickname}}&gt; {{message}}
  #tab-template.hide
      a(href='#', data-target='{{target}}').label.secondary.tab {{target}}
